/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Comfortaa:wght@300..700&display=swap');

/* General styles */
body {
    background-color: white;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;    
}

/* Game title */
.title {
    margin: 20px;
    color: #BD6E2A;
    text-align: center;
    font-family: Caudex, sans-serif;
    font-size: 40px;
    text-shadow: #221916 2px -2px 2px;
}

/* Start area */
.area {
    background-color: white;
    padding: 10px;
    max-width: 500px;
    margin: 0 auto;
}

/* Username */
.username-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username-label {
    padding: 10px;
    font-family: Comfortaa, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.username-input {
    padding: 5px;
    margin: 5px;
    font-family: Comfortaa, sans-serif;
    font-size: 18px;
    border: 2px solid #221916;
    background-color: transparent;
    outline: none;
    color: #221916
}

.username-input:focus {
    background-color: #221916;
    color: white;
}

/* Characters */
.heading {
    padding: 10px;
    margin: 0 auto;
    font-family: Comfortaa, sans-serif;
    text-align: center;
    font-size: 18px;
    width: fit-content;
}

.characters {
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.character {
    margin: 10px;
    width: 80px;
    height: 120px;
    flex-shrink: 0;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

#grey {
    background-image: url("../images/grey.webp");
}

#orange {
    background-image: url("../images/orange.webp");
}

#spot {
    background-image: url("../images/spot.webp");
}

/* Instructions */
.text {
    font-family: Caudex, sans-serif;
    padding: 5px;
    list-style: none;
    width: fit-content;
    margin: 0 auto;
    font-size: 16px;
}

/* Buttons */
.btn-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.btn {
    padding: 8px 10px;
    font-family: Comfortaa, sans-serif;
    font-size: 18px;
    background-color: #fff;
    border: 2px solid #BD6E2A;
    box-shadow: #221916 2px 2px 2px;
    color: #BD6E2A;
    font-weight: bold;
    cursor: pointer;
    min-width: 120px;
}

/* Game area */
#game-area {
    display: none;
}

/* Informative part */
.game-character-box {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

#game-area-character {
    margin: 10px;
    width: 80px;
    height: 120px;
    flex-shrink: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Message */
.counts-parent {
    position: relative;
    height: 140px;
    min-width: 160px;
    display: flex;
    margin: 0 20px;
    justify-content: center;
}

.message-background {
    background-color: #fff;
    color: #221916;
    text-shadow: #221916 0px 0px 1px, #BD6E2A 1px 1px 2px;
    font-style: italic;
    align-self: flex-end;
    text-align: center;
}

.message-background .text {
    font-size: 18px;
}

/* Score & Tries */
.counts-box {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
}

.count {
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #BD6E2A;
    box-shadow: rgb(0, 0, 0) 1px 1px 3px;
}

/* Game field */
.game-field-background {
    background-color: #f0c694;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 20px;
    border-radius: 10%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.object {
    background-image: url("../images/door.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height: 60px;
    margin: 10px;
}

/* Result area */
#result-area {
    display: none;
}

/* Displayed character */
#result-area-character {
    margin: 10px auto;
    width: 200px;
    height: 300px;
    flex-shrink: 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
} 

/* Message attached to the parent */
.result-message-box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Total score */
.total-score-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.total-score-box .heading, .total-score-box .text {
    margin: 0 10px;
}


/* Tablets (768px and up) */
@media screen and (min-width: 768px) {
    
    /* Game title */
    .title {
        font-size: 60px;
    }

    /* Start area */
    .area {
        max-width: 700px;
    }

    /* Username */
    .username-box {
        flex-direction: row;
        justify-content: center;
    }

    .username-label {
        font-size: 20px;
    }

    .username-input {
        font-size: 20px;
    }

    /* Characters */
    .heading {
        font-size: 20px;
    }

    .character {
        width: 180px;
        height: 240px;
    }

    /* Instructions */
    .text {
        font-size: 18px;
    }

    /* Buttons */
    .btn {
        font-size: 20px;
        min-width: 160px;
    }
    
    /* Game area */
    /* Informative part */
    #game-area-character {
        width: 120px;
        height: 180px;
    }

    /* Message */
    .counts-parent {
        height: 200px;
        min-width: 240px;
    }

    .message-background .text {
        font-size: 24px;
    }

    /* Score & Tries */
    .count {
        font-size: 28px;
    }

    /* Game field */
    .object {
        width: 120px;
        height: 90px;
    }

    /* Result area */
    #result-area-character {
        width: 200px;
        height: 300px;
    }
}

/* Desktop and laptop screens (992px and up) */
@media screen and (min-width: 992px) {
    /* Buttons */
    .btn:hover {
        background-color: #BD6E2A;
        color: #fff;
        border: 2px solid #BD6E2A;
    }
}

/* Desktop and laptop screens (1024px and up) */
@media screen and (min-width: 1024px) {
    /* Start area */
    .area {
        max-width: 800px;
    }
    
    /* Game area */
    .desktop-layout {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        margin-top: 20px;
        margin: 20px 0 40px;
    }

    /* Informative part */
    .game-character-box {
        flex-direction: column;
        margin-right: 20px;
        justify-content: space-between;
    }

    #game-area-character {
        width: 180px;
        height: 240px;
        margin-right: 80px;
    }

    /* Message */
    .counts-parent {
        height: fit-content;
        align-self: center;
        min-width: 300px;
    }

    /* Score & Tries */
    .counts-box {
        display: flex;
        flex-direction: column;
        left: 180px;
        top: -285px;
        right: -60px;
    }

    .count {
        margin-bottom: 10px;
    }

    /* Game field */
    .game-field-background {
        margin-top: 0;
    }

    /* Result area */
    .column-layout {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #result-area-character {
        width: 280px;
        height: 420px;
        margin: 0 20px;
    }

    .total-score-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: flex-start;
        margin-top: 60px;
    }

}